@model IEnumerable<MemberManagementSystem.Models.User>

<h2>使用者列表</h2>

<table class="table">
    <thead>
        <tr>
            <th>姓名</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>

